


* {
    box-sizing: border-box;
}

body,
html {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: 'Merriweather', serif; 
    /* font-family: 'Petrona', serif; */
    /* font-family: 'Cormorant', serif; */
}

/* responsive images */
img {
    width: 100%;
    padding-left: 50px;
    padding-right:50px;
}

h1 {
    font-size: 2.75em;
}

h2{ 
font-size: 1.4em;
color: gray;
   }
.byline {
    margin: auto 0;
    text-align: left;
    text-transform: uppercase;
    color:gray;
}

    .location {
        color: blue;
    }
h5 {
    text-align: center;
    font-size: 2em;
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
}

h6 {
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
}

figcaption{
    padding-left: 50px;
    padding-right:50px;
    line-height: 1.5em;
    font-size: 1.2em;

}
p {
    line-height: 1.5em;
    font-size: 1.2em;
}

hr {
    height: 4px;
    background: gray;
}

.container,
.icon-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
figure {
    width: 100%;
    margin: 0 auto;
}

.main_img {
    width: 100%;
}

.head-photo {
    font-size: 1em;
    color: gray;
    margin: 5px;
}

.icon-container img {
    display: block;
    max-width: 300px;
    margin: auto;
}

.graphic-text {
    margin: auto;
}

.sources
{
    font-size: .8em;
    color: gray;
    margin: 0 auto;
    text-align: left;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    p.intro {
        max-width: 65%,
    }

   
    .icon-container {
        /* Flex box styles go on the flex box element */
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
    }

    .graphic {
        /* There are many ways to handle sizing, but flex-basis is the one that I like best for control.
     * There are three elements so I made it 30%. With justify content set to space between, the extra 3% per element will go to negative space
     * serving as gutters */
        flex-basis: 30%;
        /* can turn on this one or the one in icon-container. */
        /* justify-content: space-between; */
        /* font-size: 1.3em; */
    }

    .graphic-text {
        padding: 10px;
        /* width: 500px; */
    }
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 900px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
    .container {
        max-width: 600px;
    }

    figure {
        max-width: 700px;
    }
}
